/* RESET CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* CZCIONKA DLA WSZYSTKICH ELEMENTÓW NA STRONIE */
body {
  font-family: 'Raleway', Arial, Tahoma, sans-serif;
}


/* KLASY POMOCNICZE */
/* KONTENER MAX-W 1060px SZEROKOŚCI */
.container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

/* SPAN Z KOLOROM CYAN */
.text--cyan {
  color: #1bba93;
}

.text--uppercase {
  text-transform: uppercase;
}

/* FLEXBOX */
.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


/* OGÓLNE STYLE DLA PRZYCISKÓW */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color: #1bba93;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* NAGŁÓWEK */
.page-header {
  background: #000;
  width: 100%;
}

/* NAWIGACJA */
.main-nav {
  padding: 15px 0;
}

/* LOGO */
.nav__logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 15px;
}

/* GŁÓWNE MENU */
.main-nav__list {
  list-style-type: none;
}

/* ELEMENTY GŁÓWNEGO MENU */
.main-nav__item {
  margin-left: 50px;
  position: relative;
  font-size: 15px;
}

.main-nav__item:hover .about-dropdown {
  display: block;
}

.main-nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.main-nav__link:link {
  text-decoration: none;
  color: white;
}

.main-nav__link:hover {
  color: #1bba93;
}

/* O FIRMIE - MENU DROPDOWN */
.about-dropdown {
  display: none;
  list-style-type: none;
  background: #000;
  position: absolute;
  top: 45px;
  right: -30px;
}

.about-dropdown::before {
  content: "";
  height: 0;
  padding: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -20px;
  left: calc(50% - 12.5px);
}


/* O FIRMIE - ELEMENTY MENU DROPDOWN */
.about-dropdown__item {
  margin: 10px 25px 10px 10px;
  padding-right: 10px;
}

.about-dropdown__link {
  text-decoration: none;
  color: white;
}


/* SEKCJA INTRO */
.intro {
  width: 100%;
  background: linear-gradient(to bottom, #fafafa, #cecdd2);
  padding: 80px 0 30px;
}

.intro__image {
  flex-basis: 35%;
}

.intro__info {
  margin-right: 85px;
  flex-basis: 45%;
}

.intro__info.column {
  justify-content: center;
}

.intro__title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
}

.intro__para {
  text-align: center;
  padding: 10px;
  line-height: 1.5em;
  color: #535353;
}

.intro__cta {
  background-color: #1bba93;
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

/* KONTROLERY SLIDERA */
.arrows {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 60px;
  color: #1bba93;
  flex-basis: 5%;
}

/* SEKCJA PORTFOLIO */
.portfolio {
  width: 100%;
  padding: 40px 0;
}

.portfolio__card {
  flex-basis: 32%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #d3ccc6;
}

.portfolio__image {
  height: 230px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.portfolio__image--first {
  background-image: url(../images/box1_img.jpg);
}

.portfolio__image--second {
  background-image: url(../images/box2_img.jpg);
}

.portfolio__title {
  padding: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.portfolio__title::after {
  content: "";
  height: 10px;
  width: 50%;
  margin-top: 5px;
  background-color: #1bba93;
  display: block;
}

.portfolio__card--third {
  padding: 15px;

}

.portfolio__card--third .portfolio__title {
  padding: 0;
  margin-top: 20px;
}

.portfolio__para {
  color: #848484;
  font-size: 14px;
  line-height: 1.4em;
  /* margin-bottom: 1px; */
}

.portfolio__para:first-of-type {
  padding-bottom: 15px;
}


/* SEKCJA PRICING */
.pricing {
  background-color: #f1f1f1;
  width: 100%;
  padding: 40px 0;
}

.pricing__title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #575757;
}

.pricing__title::after {
  content: "";
  height: 10px;
  width: 32%;
  margin-top: 5px;
  background-color: #1bba93;
  display: block;
}

.pricing__plan {
  flex-basis: 32%;
  background-color: #f9f9f9;
  border: 2px solid #d9d9d9;
  margin-top: 75px;
  position: relative;
  height: 500px;
}

.pricing__plan::before {
  content: "";
  height: 50px;
  width: 50px;
  border: 2px solid #d4d4d4;
  background-image: radial-gradient(#c2c2c2 35%, #fff 35%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
}

/* AKCJA PO NAJECHANIU KURSOREM NA KARTĘ Z OFERTĄ */
.pricing__plan:hover {
  background-color: #1bba93;
  border: none;
}

.pricing__plan:hover.pricing__plan::before {
  content: "";
  height: 50px;
  width: 50px;
  border: none;
  background-image: radial-gradient(#fff 35%, #1bba93 35%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
}

.pricing__plan:hover .plan__name {
  color: #fff;
}

.pricing__plan:hover .circle__cost,
.pricing__plan:hover .plan__circle>.text--uppercase {
  color: #1bba93;
}

.pricing__plan:hover .plan__cta {
  background-color: #fff;
  color: #1bba93;
}

.pricing__plan:hover .plan__feature:nth-of-type(2n+1) {
  background: #fff;
}

.pricing__plan:hover .plan__feature:nth-of-type(2n) {
  background: #f1f1f1;
}


/* STYLE DLA ZAWARTOŚCI BOXÓW Z OFERTĄ */
.plan__name {
  color: #1bba93;
  padding-top: 40px;
}

.plan__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
  height: 130px;
  width: 130px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle__cost {
  font-size: 30px;
  font-weight: 700;
  color: #c1c1c1;

}

.plan__circle .text--uppercase {
  color: #c1c1c1;
  padding-top: 5px;
  font-weight: 700;
}

.plan__features {
  list-style-type: none;
  margin: 20px auto 0;
  width: 100%;
  text-align: center;
}

.plan__feature {
  font-size: 18px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.plan__feature:nth-of-type(2n+1) {
  background-color: #e4e4e4;
}

.plan__feature:nth-of-type(2n) {
  background-color: #f1f1f1;
}

.plan__cta {
  padding: 10px 25px;
  background-color: #1bba93;
  color: #fff;
  margin: auto 0 10px 0;
  font-size: 14px;
  margin-bottom: 20px;
}

/* SEKCJA KONTAKT */
.contact {
  width: 100%;
  padding: 40px 0;
}

.contact__title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #575757;
}

.contact .row {
  margin-top: 50px;
}

.contact__title::after {
  content: "";
  height: 10px;
  width: 32%;
  margin-top: 5px;
  background-color: #1bba93;
  display: block;
}

.contact__form {
  flex-basis: 60%;
}

.contact__form.column {
  align-items: stretch;
}

.contact__form input,
.contact__form email {
  font-size: 24px;
  padding: 16px;
  outline: 0;
  border: 1px solid #1bba93;
  color: #1bba93;
  margin-bottom: 25px;

}

.contact__form textarea {
  font-size: 24px;
  padding: 16px;
  outline: 0;
  border: 1px solid #1bba93;
  color: #1bba93;
  height: 192px;
  resize: none;
}

::placeholder {
  color: #d6d6d6;
  font-family: 'Raleway', Arial, Tahoma, sans-serif;
}

.contact__send {
  flex-basis: 30%;
}

.contact__checkbox {
  -webkit-appearance: none;
  outline: none;
  height: 48px;
  width: 48px;
  background: #fff;
  border: 1px solid #1bba93;
}

.contact__checkbox:checked {
  background: url(../images/form_ok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.checkbox__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 20px;
}

.contact__agreement {
  flex-basis: 80%;
  line-height: 24px;
  font-size: 16px;
  color: #adadad;
}

.contact__cta {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

/* STOPKA STRONY */
.page-footer {
  padding: 40px 0;
}

.page-footer .row {
  align-items: center;
}

.footer__text {
  flex-basis: 60%;
  color: #b9b9b9;
}

.footer__logo {
  text-decoration: none;
  color: #9b9b9b;
  font-weight: 700;
  text-transform: uppercase;
}